# Python
__pycache__/
*.py[cod]
venv/
ENV/
Photos/
.agents/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Misc
.DS_Store

# node
node_modules/
*/node_modules
dist/

#agent-cli
.claude/
.gemini/
.antigravitycli/
